<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1625,1},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1,203},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{407,203},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{813,203},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1219,203},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1625,247},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1,449},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{407,449},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{813,449},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1219,449},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1625,493},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1,695},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{407,695},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{813,695},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1219,695},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1625,739},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1,941},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{407,941},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{813,941},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1219,941},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1625,985},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1,1187},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{407,1187},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{813,1187},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1219,1187},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1625,1231},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1,1433},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{407,1433},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{813,1433},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1219,1433},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1625,1477},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1,1679},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{407,1679},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dubarra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1370,102}</string>
                <key>spriteSourceSize</key>
                <string>{1370,102}</string>
                <key>textureRect</key>
                <string>{{1,99},{1370,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dubtcollectb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,96}</string>
                <key>spriteSourceSize</key>
                <string>{268,96}</string>
                <key>textureRect</key>
                <string>{{545,1},{268,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dubtcollectoff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,96}</string>
                <key>spriteSourceSize</key>
                <string>{268,96}</string>
                <key>textureRect</key>
                <string>{{815,1},{268,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dubtdub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,96}</string>
                <key>spriteSourceSize</key>
                <string>{268,96}</string>
                <key>textureRect</key>
                <string>{{1085,1},{268,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dubtduoff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,96}</string>
                <key>spriteSourceSize</key>
                <string>{268,96}</string>
                <key>textureRect</key>
                <string>{{1355,1},{268,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ducardrear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{813,1679},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamble_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,79}</string>
                <key>spriteSourceSize</key>
                <string>{270,79}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamble_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,79}</string>
                <key>spriteSourceSize</key>
                <string>{270,79}</string>
                <key>textureRect</key>
                <string>{{273,1},{270,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gamble_2.png</string>
            <key>size</key>
            <string>{2030,1924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f901497c875637e55f84da76d557ca48:8011b3245c42eda382246e38fa8031ec:d2d1af1c89c30dc76d57b046393fad8b$</string>
            <key>textureFileName</key>
            <string>gamble_2.png</string>
        </dict>
    </dict>
</plist>
